# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.tgz
.env

# Test coverage
coverage/
*.lcov

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
